/* Fond du menu déroulant */
.content {
	max-width: 1200px;
	width: 100%;
	background-color: lightgrey;
	padding: 15px;
	margin: auto;
}

.img {
	float: left;
	width: 250px;
	background-color: pink;
}

img {
	height: 180px;
	margin: auto;
}

article {
	display: flex;
	flex-direction: column;
}